$color-black: #1b1b1b;
$color-white: #ffffff;
$color-gunmetal: #30343c;
$color-charcoal: #494F5B;
$color-pale-spring-bud: #ded9a8;
$color-pale-spring-bud: #805a14;
$color-ming: #016473;
$color-cadmium-orange: #fd913e;
$color-auburn: #a1312f;

// Font Family
$font-primary: 'Raleway';
$font-family: $font-primary, 'Helvetica', 'Arial', 'sans-serif';
$font-title: 'Alfa Slab One', serif;

// Font Weights
$light: 300;
$regular: 400;
$bold: 700;

$font-xxs: rem(12);
$font-xs: rem(14);
$font-sm: rem(18);
$font-md: rem(22);
$font-lg: rem(26);
$font-xl: rem(36);
$font-xxl: rem(40);

$line-xs: rem(16);
$line-sm: rem(25);
$line-md: rem(30);
$line-lg: rem(36);
$line-xl: rem(40);
$line-xxl: rem(46);

$margin-sm: rem(15);
$margin-md: rem(30);
$margin-lg: rem(45);
$margin-xl: rem(60);

// Breakpoints
$phone-sm: 576px;
$tablet-md: 768px;
$desktop-lg: 992px;
$desktop-xl: 1200px;
$desktop-xxl: 1600px;
