header {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding: rem(50) rem(10);
    h1 {
        font-family: $font-title;
        font-weight: 400;
        font-size: rem(30);
        text-transform: uppercase;
        letter-spacing: rem(2);
        color: $color-pale-spring-bud;
        text-shadow: -5px 3px $color-auburn;
    }
    @media (min-width: $desktop-lg) {
        width: rem(950);
        h1 {
            font-size: rem(45);
        }
    }
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: rem(350);
    position: relative;
    margin: 0 auto;
    @media (min-width: $phone-sm) {
        max-width: rem(550);
    }
    @media (min-width: $tablet-md) {
        max-width: rem(600);
        padding: 0 rem(20);
    }
    @media (min-width: $desktop-lg) {
        max-width: rem(800);
    }
    @media (min-width: $desktop-xl) {
        max-width: rem(1100);
        padding-top: rem(200);
    }
}

.text-small {
    font-size: rem(16);
}

.text-italic {
    font-style: italic;
}

.step-section {
    width: 80%;
    z-index: 1;
    padding-bottom: rem(50);
    text-align: justify;
    img {
        width: 80%;
    }
    @media (min-width: $desktop-lg) {
        align-self: flex-start;
        text-align: right;
        width: rem(400);
        &:nth-child(even) {
            text-align: left;
            align-self: flex-end;
        }
        img {
            width: rem(300);
        }
    }
    h1 {
        text-transform: uppercase;
        color: $color-black;
    }
    p {
        color: $color-black;
        font-weight: $regular;
    }
    a {
        color: $color-cadmium-orange;
        &:hover {
            color: $color-spanish-orange;
        }
    }
    &.first-section {
        @media (min-width: $desktop-lg) {
            position: absolute;
            top: rem(-20);
            left: rem(0);
        }
    }
    &.reading-section {
        text-align: center;
    }
    &.download-section {
        text-align: center;
        @media (min-width: $desktop-lg) {
            position: absolute;
            top: rem(450);
            left: rem(50);
        }
    }
    &.check-section {
        @media (min-width: $desktop-lg) {
            padding-top: rem(100);
        }
        .icon-check {
            display: inline-block;
            position: relative;
            width: rem(30);
            .check-square {
                display: block;
                width: rem(20);
                height: rem(20);
                border: rem(3) solid $color-gunmetal;
            }
            img {
                position: absolute;
                width: rem(50);
                max-width: rem(50);
                top: rem(-4);
                left: rem(-10);
            }
        }
    }
    &.instructions-section {
        @media (min-width: $desktop-lg) {
            position: absolute;
            top: rem(1100);
        }
    }
    &.awnser-section {
        @media (min-width: $desktop-lg) {
            position: absolute;
            top: rem(1500);
        }
    }
    &.contact-section {
        text-align: center;
        @media (min-width: $desktop-lg) {
            position: absolute;
            top: rem(1760);
        }
    }
    &.send-section {
        @media (min-width: $desktop-lg) {
            position: absolute;
            top: rem(2170);
        }
    }
    &.results-section {
        text-align: center;
        @media (min-width: $desktop-lg) {
            position: absolute;
            top: rem(2900);
            left: calc(50% - #{rem(600)});
            width: rem(1200);
            display: flex;
            justify-content: center;
            align-items: flex-start;
            .text {
                width: rem(550);
            }
            .cat-one {
                margin-top: rem(-50);
            }
        }
        .cat-two {
            margin-top: rem(50);
        }
    }
    .welcome-section {
        display: inline-block;
        text-align: center;
    }
}

.levitate {
    position: relative;
    animation: levitate 3s infinite;   
}

.floating {
    position: relative;
    animation: floating 3s infinite;   
}

.steps-path {
    display: none;
    position: absolute;
    top: rem(-22);
    left: calc(50% - #{rem(180)});
    width: rem(400);
    z-index: 0;
    @media (min-width: $desktop-lg) {
        display: block;
        left: calc(50% - 450px);
        width: rem(900);
    }
    @media (min-width: $desktop-xl) {
        left: calc(50% - 550px);
        width: rem(1100);
    }
}

footer {
    @media (min-width: $desktop-lg) {
        position: absolute;
        top: rem(3535);
    }
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: rem(60);
    margin-top: rem(100);
    background-color: $color-pale-spring-bud;
    z-index: 1;
}

