@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap");
/* Crossbrowser mixin */
*,
*::before,
*::after {
  outline: 0;
  box-sizing: border-box;
  margin: 0px;
  padding: 0px; }

html,
body {
  background: #016473;
  font-family: "Roboto", "Helvetica", "Arial", "sans-serif";
  font-weight: 500;
  color: #000000;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 4.444vw;
  font-weight: 500; }
  @media (min-width: 768px) {
    html,
    body {
      font-size: 16px; } }

p {
  font-size: 1.125rem;
  line-height: 1.5625rem; }

a {
  font-size: 1.125rem;
  font-weight: 500;
  text-decoration: underline;
  cursor: pointer;
  color: #fd913e; }
  a:hover {
    color: #e36f16; }

img {
  max-width: 100%; }

button {
  cursor: pointer; }

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace; }

@keyframes levitate {
  0% {
    top: 0; }
  50% {
    top: -3.125rem; }
  51% {
    top: -3.0625rem; }
  100% {
    top: 0; } }

@keyframes floating {
  0% {
    transform: rotate(0deg); }
  50% {
    transform: rotate(20deg); }
  51% {
    transform: rotate(19deg); }
  100% {
    transform: rotate(0deg); } }

header {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  padding: 3.125rem 0.625rem; }
  header h1 {
    font-family: "Alfa Slab One", serif;
    font-weight: 400;
    font-size: 1.875rem;
    text-transform: uppercase;
    letter-spacing: 0.125rem;
    color: #ded9a8;
    text-shadow: -5px 3px #a1312f; }
  @media (min-width: 992px) {
    header {
      width: 59.375rem; }
      header h1 {
        font-size: 2.8125rem; } }

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 21.875rem;
  position: relative;
  margin: 0 auto; }
  @media (min-width: 576px) {
    main {
      max-width: 34.375rem; } }
  @media (min-width: 768px) {
    main {
      max-width: 37.5rem;
      padding: 0 1.25rem; } }
  @media (min-width: 992px) {
    main {
      max-width: 50rem; } }
  @media (min-width: 1200px) {
    main {
      max-width: 68.75rem;
      padding-top: 12.5rem; } }

.text-small {
  font-size: 1rem; }

.text-italic {
  font-style: italic; }

.step-section {
  width: 80%;
  z-index: 1;
  padding-bottom: 3.125rem;
  text-align: justify; }
  .step-section img {
    width: 80%; }
  @media (min-width: 992px) {
    .step-section {
      align-self: flex-start;
      text-align: right;
      width: 25rem; }
      .step-section:nth-child(even) {
        text-align: left;
        align-self: flex-end; }
      .step-section img {
        width: 18.75rem; } }
  .step-section h1 {
    text-transform: uppercase;
    color: #000000; }
  .step-section p {
    color: #000000;
    font-weight: 500; }
  .step-section a {
    color: #fd913e; }
    .step-section a:hover {
      color: #e36f16; }
  @media (min-width: 992px) {
    .step-section.first-section {
      position: absolute;
      top: -1.25rem;
      left: 0rem; } }
  .step-section.reading-section {
    text-align: center; }
  .step-section.download-section {
    text-align: center; }
    @media (min-width: 992px) {
      .step-section.download-section {
        position: absolute;
        top: 28.125rem;
        left: 3.125rem; } }
  @media (min-width: 992px) {
    .step-section.check-section {
      padding-top: 6.25rem; } }
  .step-section.check-section .icon-check {
    display: inline-block;
    position: relative;
    width: 1.875rem; }
    .step-section.check-section .icon-check .check-square {
      display: block;
      width: 1.25rem;
      height: 1.25rem;
      border: 0.1875rem solid #30343c; }
    .step-section.check-section .icon-check img {
      position: absolute;
      width: 3.125rem;
      max-width: 3.125rem;
      top: -0.25rem;
      left: -0.625rem; }
  @media (min-width: 992px) {
    .step-section.instructions-section {
      position: absolute;
      top: 68.75rem; } }
  @media (min-width: 992px) {
    .step-section.awnser-section {
      position: absolute;
      top: 93.75rem; } }
  .step-section.contact-section {
    text-align: center; }
    @media (min-width: 992px) {
      .step-section.contact-section {
        position: absolute;
        top: 110rem; } }
  @media (min-width: 992px) {
    .step-section.send-section {
      position: absolute;
      top: 135.625rem; } }
  .step-section.results-section {
    text-align: center; }
    @media (min-width: 992px) {
      .step-section.results-section {
        position: absolute;
        top: 181.25rem;
        left: calc(50% - 37.5rem);
        width: 75rem;
        display: flex;
        justify-content: center;
        align-items: flex-start; }
        .step-section.results-section .text {
          width: 34.375rem; }
        .step-section.results-section .cat-one {
          margin-top: -3.125rem; } }
    .step-section.results-section .cat-two {
      margin-top: 3.125rem; }
  .step-section .welcome-section {
    display: inline-block;
    text-align: center; }

.levitate {
  position: relative;
  animation: levitate 3s infinite; }

.floating {
  position: relative;
  animation: floating 3s infinite; }

.steps-path {
  display: none;
  position: absolute;
  top: -1.375rem;
  left: calc(50% - 11.25rem);
  width: 25rem;
  z-index: 0; }
  @media (min-width: 992px) {
    .steps-path {
      display: block;
      left: calc(50% - 450px);
      width: 56.25rem; } }
  @media (min-width: 1200px) {
    .steps-path {
      left: calc(50% - 550px);
      width: 68.75rem; } }

footer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3.75rem;
  margin-top: 6.25rem;
  background-color: #ded9a8;
  z-index: 1; }
  @media (min-width: 992px) {
    footer {
      position: absolute;
      top: 220.9375rem; } }
